@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --font-ubuntu: Ubuntu, Roboto, 'sans-serif', 'Helvetica', 'Arial';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f9;
    --foreground: #8881fb;   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-ubuntu), sans-serif;
}
